body {
    font-family: 'Poppins', sans-serif;
}
.container {
    margin-bottom: 50px;
}

.navbar-brand img{
    height: 60px;
}

.nav-link {
    font-weight: 500;
}
.carousel-item {
    padding: 20px 30px;
    height: 600px;
}

.carousel-indicators li {
    background-color: #CECECE;
    height: 8px;
    width: 15px;
    border-radius: 10px;
}

.carousel-indicators .active {
    background-image: linear-gradient(to left, #ffc31f,#ff9c35);
    width: 35px;
    height: 8px;
}

.buy-now-button {
    background-color: black;
    color: white;
    padding: 6px 20px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.phone-section {
    margin-bottom: 100px;
}

.product-section-top {
    margin-bottom: 50px;
}

.product-section-top h2 {
    font-size: 30px;
    font-weight: 500;
}

.product-section-top a {
    color: #FF9D00;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
.card {
    text-align: center;
    border: none;
    box-shadow: 5px 5px 20px #8080803d;
    border-radius: 10px;
    padding: 30px 20px;
}

.category-section img {
    width: 100%;
}

.category-section h2 {
    text-align: center;
    margin-bottom: 80px;
}

.category-section h2::after {
    content: '';
    background-image: linear-gradient(to right, #ffc31f,#ff9c35);
    width: 100px;
    height: 8px;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
}
.category-box {
    width: 200px;
    padding: 60px 20px 50px 20px;
    text-align: center;
    background: white;
    box-shadow: 5px 5px 20px #8080803d;
    margin-bottom: 30px;
}

.category-box.first-box {
    border-radius: 0px 20px 0px 40px;
}

.category-box.secound-box {
    border-radius: 20px 0px 40px 0px;
}

.category-box img {
    width: 90px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
}